<h2 mat-dialog-title>Create a group</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <div class="mb-3">
      <label for="groupName" class="form-label">Group name</label>
      <input type="text" class="form-control" id="groupName">
    </div>
    <div class="mb-3">
      <label for="user" class="form-label">User</label>
      <select class="form-select" id="user" multiple>
        <option
          *ngFor="let user of userService.getAllUsers()"
          [value]="user.id">
          {{ user.name }}
        </option>
      </select>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close="">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>

