<form [formGroup]="form">
  <h2 mat-dialog-title>Create a group</h2>
  <mat-dialog-content class="mat-typography">
    <div class="mb-3">
      <label for="name" class="form-label">Expense name</label>
      <input type="text" class="form-control" id="name" formControlName="name"
             [class.is-invalid]="name.touched && name.invalid">
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">Amount</label>
      <input type="number" class="form-control" id="amount" formControlName="amount"
             [class.is-invalid]="amount.touched && amount.invalid">
    </div>
    <div class="mb-3">
      <label for="group" class="form-label">Group</label>
      <select id="group"
              class="form-select"
              formControlName="groupId"
              [class.is-invalid]="groupId.touched && groupId.invalid">
        <ng-container *ngIf="groups.length > 0; else noGroups">
          <option [value]="null" [disabled]="true" selected>Select group</option>
          <option
            *ngFor="let group of groups"
          [value]="group.id">
            {{ group.name }}
          </option>
        </ng-container>
        <ng-template #noGroups>
          <option [value]="null" disabled selected>No groups</option>
        </ng-template>
      </select>
    </div>
    <div class="mb-3">
      <label for="user" class="form-label">Paid by</label>
      <select id="user"
              class="form-select"
              formControlName="paidByUserId"
              [class.is-invalid]="paidByUserId.touched && paidByUserId.invalid">
        <ng-container *ngIf="users; else noUsers">
          <option [value]="null" disabled selected>Select user</option>
          <option
            *ngFor="let user of userService.getAllUsers()"
            [value]="user.id">
            {{ user.name }}
          </option>
        </ng-container>
        <ng-template #noUsers>
          <option [value]="null" disabled selected>No users</option>
        </ng-template>
      </select>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close="true">Cancel</button>
    <button mat-button [disabled]="form.invalid" (click)="onSaveClicked(form.value)">Save</button>
  </mat-dialog-actions>
</form>

