@import "~bootstrap/dist/css/bootstrap.css";
@import "styles/variables";

//-----------------------------------------------------
//-----------------------------------------------------

// start general

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: $green;
  text-decoration: none;
}

// end general

//-----------------------------------------------------
//-----------------------------------------------------

// start background, color

.bg-grey {
  background-color: $grey;
}

.color-green {
  color: $green;
}

// end background

//-----------------------------------------------------
//-----------------------------------------------------

// start buttons

.btn {
  padding: 0 2rem;
  line-height: 0;
}

.btn-secondary {
  background-color: white;
  border: 2px solid $green;
  border-radius: 10px;
  color: $green;
  font-weight: bold;

  &:hover, &:active, &:focus {
    background-color: $green;
    border: 2px solid $green;
    color: white;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($green, 0.4);
  }
}

// end buttons

//-----------------------------------------------------
//-----------------------------------------------------

// start card

.card {
  border-radius: 10px;

  .card-body {
    padding: 2rem 3rem;
  }
}

// end card

//-----------------------------------------------------
//-----------------------------------------------------

// start dialog

.mat-dialog-container {
  border-radius: 10px;
}

.cdk-overlay-pane {
  width: 500px;
}

// end dialog
